.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.addBookButton {
    margin-bottom: 20px;
    border-radius: 10px;
    background: rgb(72, 87, 87);
    color: white;
}

.addBookButton:hover, .addBookButton:active {
    color: lightblue;
    cursor: pointer;
}

.bookTable {
    border: solid 1px black;
    margin-bottom: 20px;
    width: 600px;
}


.tableHeader {
    background: lightblue;
    padding: 30px;
}

th {
    padding: 20px;
}

.text {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.popUp {
    display: none; 
    position: fixed; 
    top: 15rem;
    background: lightgray;
    opacity: 0.9;
}

.newBook {
    display: flex;
    flex-direction: column;
    padding: 10px;
    
}

.close {
    display: flex;
    justify-content: right;
    position: relative;
    bottom: 10px;
    font-size: 20px;
    font-weight: 500;
}

.close:hover, .close:active {
    color: blue;
    cursor: pointer;
}

#title, #author, #pages {
    margin-bottom: 15px;
}

#reading {
    width: 80px;
    margin-bottom: 15px;
}

#submit {
    width: 80px;
}

.deleteButton {
    background: red;
    color: white;
    border-radius: 10px;
}

.deleteButton:hover, .deleteButton:active {
    color: blue;
    cursor: pointer;
}

.statusButton {
    border-radius: 10px; 
}

.statusButton:hover, .statusButton:active {
    color: lightblue;
    cursor: pointer;
}
     



